  <title><%= @title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1274, user-scalable=no"/>
  <link rel="stylesheet" href="<%= @asset_path %>themes/ribbon/styles/style.css">
  <link rel="stylesheet" href="<%= @asset_path %>themes/ribbon/styles/print.css" media="print">
