<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <%= erb :header %>
</head>
<body class="list">
<header class="caption">
  <h1><%= @title %></h1>
</header>
<%= @slides %>
<script src="scripts/script.js"></script>
</body>
</html>
