@page {
    margin:0;
    size: 1024px 640px;
    }

.slide.shout H2 {
    position: static;
    margin-top: 280px;
    font-size: 80px;
    }

.slide H2 {
  margin-top: -50px;
}

/* List
---------------------------------------- */
.list {
    float:none;
    padding:0;
    background:#FFF;
    }

/* Caption */
.list .caption {
    display:none;
    }

/* Slide */
.list .slide {
    float:none;
    margin:0;
    padding:0;
    }
    .slide.bg IMG {
      height: 600px;
    }
    .slide UL {
      list-style-type:none;
    }
    .slide OL {
      list-style-type:none;
    }
    .list .slide > DIV {
        width:1024px;
        height: 760px;
        background:none;
        }
    .list .slide > DIV,
    .list .slide > DIV:hover {
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none;
        }
    .list .slide SECTION {
        -webkit-transform:none;
        -moz-transform:none;
        -ms-transform:none;
        -o-transform:none;
        transform:none;
        }
        .list .slide:after {
            position:absolute;
            bottom:85px;
            left:120px;
            line-height:1;
            text-shadow:none;
            }
